//colors
$black:#000000;
$lightblue:#add8e6;
$color:#333;
$color2:#f8f9fa;
$nunito: "Nunito Sans", sans-serif;
$bg-img-index: url("../clase-uno/asset/imagen\ facial.jpg")
$size-tipo (
    xl: 10em,
    md: 10em,
    s: 8em,
    xs: 5em,
)
